#配置说明#

#AX6和AX3600配置一致 只需要改AX6或者ax3600即可#
#由于内存分区大小的原因建议不要集成太多插件 因为有可能会不能刷入！

#机器型号配置#
CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y

#AX6
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

#TURBOACC
#CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y
#CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y

#sfe的dns相关
#CONFIG_PACKAGE_dnsforwarder=y
#CONFIG_PACKAGE_dnsproxy=y

#高通核心sfe
#CONFIG_PACKAGE_kmod-shortcut-fe=y
#CONFIG_PACKAGE_kmod-sit=y


CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_zram-swap=y

#ipv6相关
CONFIG_PACKAGE_ip6tables=y
# CONFIG_PACKAGE_ipt2socks=y
# CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
# CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
# CONFIG_PACKAGE_6in4=y
# CONFIG_PACKAGE_6rd=y
# CONFIG_PACKAGE_6to4=y
CONFIG_PACKAGE_luci-proto-ipv6=y
# CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-nf-nat6=y

#与OpenAppFilter插件相关
# CONFIG_PACKAGE_kmod-oaf=y



#wireguard核心
# CONFIG_PACKAGE_kmod-wireguard=y


#网易音乐
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-unblockmusic_INCLUDE_UnblockNeteaseMusic_Go is not set

#pushbot
CONFIG_PACKAGE_luci-app-pushbot=y

#adguardhome
CONFIG_PACKAGE_luci-app-adguardhome=n

#easymesh
CONFIG_PACKAGE_luci-app-easymesh=n

#guest-wifi
CONFIG_PACKAGE_luci-app-guest-wifi=n

#多播需要的负载
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-syncdial=n

#netdata
CONFIG_PACKAGE_luci-app-netdata=n

#ntp
CONFIG_PACKAGE_luci-app-ntpc=y

#OpenAppFilter
CONFIG_PACKAGE_luci-app-oaf=y

#pppoe-relay
#CONFIG_PACKAGE_luci-app-pppoe-relay=y

#qos
# CONFIG_PACKAGE_luci-app-qos=y

#smartdns
CONFIG_PACKAGE_luci-app-smartdns=n

#sqm
#CONFIG_PACKAGE_luci-app-sqm=y


#ttyd
# CONFIG_PACKAGE_luci-app-ttyd=y

#udpxy
#CONFIG_PACKAGE_luci-app-udpxy=y

#uhttpd
#CONFIG_PACKAGE_luci-app-uhttpd=y

#uugame
#CONFIG_PACKAGE_luci-app-uugamebooster=n#

#wifischedule
# CONFIG_PACKAGE_luci-app-wifischedule=y

#wireguard
# CONFIG_PACKAGE_luci-app-wireguard=y

#插件中文区
#CONFIG_PACKAGE_luci-i18n-easymesh-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-ntpc-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-pppoe-relay-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-qos-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-uugamebooster-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y#
#CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y#


#主题
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y

#编译固件相关


CONFIG_PACKAGE_smartdns=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_miniupnpd=n
CONFIG_PACKAGE_nlbwmon=n
# CONFIG_PACKAGE_ttyd=y
# CONFIG_PACKAGE_wifischedule=y
# CONFIG_PACKAGE_wireguard-tools=y
# CONFIG_PACKAGE_tmux=y
# CONFIG_PACKAGE_iperf3=y


CONFIG_DEFAULT_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_zerotier=n

CONFIG_DEFAULT_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
#CONFIG_PACKAGE_kmod-ipt-ipsec=n
#CONFIG_PACKAGE_kmod-ipsec=n
#CONFIG_PACKAGE_udpxy=y
#CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_vsftpd-alt=n
CONFIG_PACKAGE_luci-app-vsftpd=n

